body {
  background-color: #b4b5be;
}
h1 {
  color: #333738;
}
p {
  color: #333738;
  border: 5px solid #b18742;
}

.center {
  text-align: center;
}

.vertical-center {
  margin: 0;
  position: absolute;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #635b6c;
  text-decoration: underline;
  font-size: large;
}

#highScore {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #333738;
  font-size: xx-large;
}

#currentTime {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: #333738;
  font-size: medium;
}

h2 {
  color: #333738;
}
